body{
    background: rgb(255, 168, 249);
}
h1, p, h2, ul{
    font-family: "Lucida Console", monospace;
    color: rgb(255,255,255);
    text-align: center;
}
img {
    display: flex;
    margin: auto;
    width: 400px;
    height: 300px;
}
li {
    font-family: "Lucida Console", Monaco, monospace;
    color:rgb(255, 255, 255);
    font-size: 20px;
}
.row1, .row2, .row3{
    display: flex;
    gap: 0;
}